/* Menéame colors and images */

/***
All images referenced by the CSS and distributed in the tar file are 
copyrighted by Benjamí Villoslada and published under a CC license: 
http://creativecommons.org/licenses/by-sa/2.5/

Source code was developed by Ricardo Galli, it's published 
under the Affero GPL License (http://meneame.net/COPYING) unless
stated otherwise in individual files.
***/

/* sneaker */

.sneaker {
/* background: url(../../img/mnm/elmnm-sneak-reverse02.png) 97% 95% no-repeat; */
}

.sneaker-title strong {
color: #2F6192;
}

.sneaker-legend {
color: #333;
}

.sneaker-behe {
color: #2F6192;
background: #ecf0f3;
border-bottom-color: #ddd;
}

.sneaker-item {
border-bottom-color: #ddd; /*rayas de entre cosas de la fisgona*/
}

.sneaker-chat, .sneaker-chat a {
color: #333; /*color de chat*/
}

.sneaker-chat a {
color: #2F6192;
}

.sneaker-chat-friends, .sneaker-chat-friends a {
color: #059C05; /*color de amigos*/
}
.sneaker-chat-devel, .sneaker-chat-devel a {
color: #B0B  ; /*color de devel*/
}

.sneaker-chat-admin, .sneaker-chat-admin a {
color: #F00; /*color de admins*/
}

.sneaker-who img {
border-color: #FFE2C5;
}

.sneaker-problem {
color: #F00;
}

.sneaker-published {
color: #2F6192;
}

.sneaker-discarded {
color: #D9AA95;
}

#radio {
width: auto;
height: 15px;
position: fixed;
bottom: 0px;
display: none;
}
