/*
Licence: Affero GPL License (http://meneame.net/COPYING)
Comments: This file contains only styles without colors or images. A separate file with colors and images is available.
*/

html * {
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
margin: 0 0px 0 0px;
background-color: #fff;
}

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
color: #03a;
}

a:hover, a:focus {
text-decoration: underline;
color: #429ee9;
}

a:active {
color: #000;
}

a:visited {
color: #551a8b;
}

#header {
min-width: 300px;
height: 25px;
overflow: hidden;
background: #adcee9;
}

#logo {
display: block;
float: left;
width: 125px;
height: 24px;
text-indent: -9999px;
background: #429ee9 url('http://movil.joneame.net/img/mnm/meneito.png') no-repeat left top;
}

#headtools {
text-align: right;
vertical-align: middle;
white-space: nowrap;
}

#headtools li {
font-size: 0.79em;
display: inline;
float: right;
margin: 2px 5px 0 5px;
border-left: 1px solid;
padding-left: 10px;
white-space: nowrap;
border-color: #0000CC;
}

#headtools li.noborder {
border-left: none;
}
	
#headtools a {
text-decoration: none;
color: #0000CC;
}

#headtools a:hover {
text-decoration: underline;
}

#headtools img, #headtools a img {
border: none;
vertical-align: top;
}

#container {
margin: 2px;
clear:both;
}

#newswrap, #singlewrap {
font-size: small;
}

.tabmain {
height: 24px !important;
margin: 10px 0 0 0;
padding-left: 5px;
border-bottom: 1px solid;
white-space: nowrap;
border-color: #429ee9;
}

.tabmain li {
float: left;
list-style-type: none;
margin-right: 4px;
height: 24px;
white-space: nowrap;
}

.tabmain li a {
font-size: .8em;
font-weight: bold;
display: block;
float: left;
height: 20px;
padding: 3px 3px 0 3px;
border-top: 1px solid;
border-right: 1px solid;
border-left: 1px solid;
text-decoration: none;
background: #fff;
border-color: #429ee9;
color: #429ee9;
}

.tabmain li a:hover {
text-decoration: none;
background: #adcee9
}

.tabmain li.tabmain-this {
height: 25px;
background: #fff;
}

.tabmain li.tabmain-this a {
font-size: 0.8em;
height: 21px;
background: #adcee9;
}


#footthingy {
clear: both;
margin: 2em 10px 0 10px;
}

#footthingy li {
display: inline;
list-style-type: none;
font-size: .65em;
color: #999;
}

#footthingy li a {
color: #999;
}

#footthingy div {
text-indent: -9999px;
}


#stdcompliance {
padding: 1em 0 1em 0;
text-align: center;
}

#stdcompliance li {
margin: 0 5px;
}

abbr { cursor: help; }

img {
border: none;
}

.warn {
position: relative;
border: 1px solid;
padding: 3px 10px 3px 30px ;
margin: 5px 0 5px 0;
font-size: 85%;
background: #FEFBEA url(../../img/common/error_s.png) 5px 50% no-repeat;
border-color: #429ee9;
}

.error {
font-weight: bold;
font-size: 140%;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
color: #429ee9;
background: url(../../img/common/error.png) no-repeat;
}

.error-text {
font-size: 100%;
color: #429ee9;
}

/* news */

.news-summary {
margin: 0;
padding: 5px 0 5px 0;
position: relative;
}

.news-details {
display: block;
margin: 4px 0 0 0;
padding: 0;
overflow: hidden;
white-space: nowrap;
color: #429ee9;
}

.news-details a:link, .news-details a:visited {
color: #75b5e9;
}

.news-details span {
margin: 0;
vertical-align: top;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 6px;
border-left-color: #429ee9;
}

.news-details .comments {
border-left: none;
font-weight: bold;
}

/* Counter box */
.news-shakeit {
/*
position: absolute;
top: 10px;
left: 2px;
*/
float: left;
width: 3.8em;
text-align: center;
font-size: 90%;
margin: 5px 5px 0 0;
padding: 0;
overflow: hidden;
}

.mnm-published, .mnm-queued, .mnm-discarded {
display: block;
font-size: 1.3em;
font-weight: bold;
letter-spacing: -1px;
text-decoration: none;
vertical-align: bottom;
padding: 5px 0 5px 0;
}


.mnm-queued, .mnm-discarded  {
border: 1px solid;
}

.mnm-published a:hover, .mnm-queued a:hover, .mnm-discarded a:hover {
color: #03A;
}

.mnm-published, .mnm-published a, .mnm-published a:visited, .mnm-discarded, .mnm-discarded a, .mnm-discarded a:visited {
color: #fff;
}

.mnm-published {
background: #adcee9;
}

.mnm-queued, .mnm-queued a, .mnm-queued a:visited {
color: #429ee9;
}

.mnm-queued {
background: #adcee9;
border-color: #429ee9;
}

.mnm-discarded {
background: #D9AA95;
border-color: #D9AA95;
}

.menealo {
background-color: #fff;
}

.menealo a {
border: 1px solid;
border-color: #429ee9;
}

.menealo a, .menealo span {
margin-top: 2px;
display: block;
padding: 2px 0 2px 0;
font-size: 7pt;
color: #429ee9;
}

.menealo span {
border: 1px dotted;
border-color: #429ee9;
}

.news-body h1 {
margin: 0;
padding: 0 5px 0 0;
font-size: 120%;
font-weight: bold;
background: none;
border: none;
}

.news-body  {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: left;
overflow: hidden;
}

.news-submitted {
font-size: 85%;
margin: 0;
white-space: nowrap;
color: #666;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
color: #666;
}

.news-tags {
font-size: 90%;
margin: 0;
color: #666;
}


/* comments [& incipient notes] */

.comments {
margin: 15px 5px 0 0;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 5px;
}

.comment-body {
padding: 5px;
line-height: 130%;
overflow: hidden;
background: #adcee9;
color: #303030;
border-color: #429ee9;
}

.comment-body.high {
background: #429ee9;
border-color: #429ee9;
}

.comment-body-hidden {
padding: 5px;
font-size: 90%;
overflow: hidden;
border-color: #aaa;
color: #aaa;
}

.comment-body-hidden a {
color: #aaa;
}

.comment-body strong {
font-weight: bold;
color: #333399;
}

.comment-body span strong {
color: #000;
}

.comment-meta, .comment-meta-hidden {
font-size: 85%;
line-height: 140%;
padding: 0 0px 5px 0;
white-space: nowrap;
color: #429ee9;
}

.comment-meta a {
font-weight: bold;
color: #429ee9;
}

.comment-meta-hidden, .comment-meta-hidden a {
color: #aaa;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
background: #FFF;
}


/* fieldsets */

fieldset {
border: 1px solid;
padding: 10px 10px;
margin: 2px 2px;
}

/* pagination */

.pages {
margin: 15px 0 25px 0;
clear: left;
font-size: 9pt;
border-top-color: #429ee9;
}

/* to avoid non standard <br clear=..> */
.pages:after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}


.pages a, .pages span {
display: block;
float: left;
padding: 5px 15px 5px 15px;
margin-right: 3px;
border: 1px solid;
color: #429ee9;
border-color: #429ee9;
background: #FFF;
}

.pages span.empty {
padding-right: 2px;
padding-left: 2px;
}

.pages span.current {
border: 1px solid;
font-weight: bold;
background: #adcee9;
color: #429ee9;
border-color: #429ee9;
}

.pages span.current a {
padding: 0;
border: 0px;
background: #adcee9;
color: #429ee9;
}

.pages a {
border: 1px solid;
text-decoration: none;
border-color: #429ee9;
}

.pages a:hover, .pages-margin a:hover {
border-color: #adcee9;
background: #adcee9;
color: #429ee9;
}

.pages a.nextprev {
font-weight: bold;
}

.pages span.nextprev {
border: 1px solid;
border-color: #adcee9;
color: #adcee9;
}


/* Form defaults */

input, textarea {
margin: 0 0 10px 0;
background: #adcee9;
border: 1px solid #429ee9;
color: #303030;
}

select {
background: #FFF;
color: #75b5e9;
}

.button, button {
border: 1px solid;
font-weight: bold;
margin: 4px 0 4px 0;
padding: 0 4px 0 4px;
border-color: #429ee9;
color: #429ee9;
}

.button:hover, button:hover {
background: #fff;
}

legend {
font-weight: bold;
padding: 0 5px;
}

legend, legend a {
color: #429ee9;
}

fieldset {
border-color: #429ee9;
}

fieldset dl {

margin: 0;
padding: 0;
}

fieldset dt {
clear: left;
float: left;
text-align: right;
padding: 0 10px 4px 5px;
}

fieldset dd {
padding: 0 0 4px 0;
font-weight: bold;
}

label {
font-weight: bold;
color: #429ee9;
}

