.icon {
	background: url('../img/iconos/icons-sprite.png');
	width: 16px;
	height: 16px;
}

.mini-icon,
.icon.vote-up,
.icon.vote-down,
.icon.voted-up,
.icon.voted-down {
	width: 12px;
	height: 8px;
}

.mini-icon,
.icon.permalink-mini,
.icon.info-mini {
	width: 10px;
	height: 10px;
}

.icon.edit-clock,
.icon.edit-clock-0,
.icon.edit-clock-1,
.icon.edit-clock-2,
.icon.edit-clock-3,
.icon.edit-clock-4,
.icon.edit-clock-5,
.icon.edit-clock-6,
.icon.edit-clock-7,
.icon.edit-clock-iddqd {
	width: 17px;
}

a.icon {
	width: auto;
	height: auto;
	background-repeat: no-repeat;
}

.icon.post-new {
	background-position: 0 0;
}

.icon.jabber {
	background-position: 0 -32px;
}

.icon.message-send {
	background-position: 0 -64px;
}

.icon.rss {
	background-position: 0 -96px;
}

.icon.wrench,
.icon.config,
.icon.configure {
	background-position: 0 -128px;
}

.icon.broadcast {
	background-position: 0 -160px;
}

.icon.info {
	background-position: 0 -224px;
}

.icon.delete {
	background-position: 0 -256px;
}

.icon.friend {
	background-position: 0 -288px;
}

.icon.message-reply {
	background-position: 0 -320px;
}

.icon.heart-off {
	background-position: 0 -352px;
}

.icon.heart-on,
.icon.heart {
	background-position: 0 -384px;
}

.icon.permalink {
	background-position: 0 -416px;
}

.icon.post-reply {
	background-position: 0 -448px;
}

.icon.magnifying-glass,
.icon.mglass,
.icon.magnify {
	background-position: 0 -480px;
}

.icon.post {
	background-position: 0 -512px;
}

.icon.help {
	background-position: 0 -544px;
}

.icon.message {
	background-position: 0 -576px;
}

.icon.comment {
	background-position: 0 -608px;
}

.icon.folder {
	background-position: 0 -640px;
}

.icon.folder-down {
	background-position: 0 -672px;
}

.icon.comment {
	background-position: 0 -704px;
}

.icon.tick {
	background-position: 0 -736px;
}

.icon.heart-black {
	background-position: 0 -768px;
}

.icon.poll-new {
	background-position: 0 -800px;
}

.icon.picture,
.icon.image {
	background-position: 0 -832px;
}

.icon.video {
	background-position: 0 -864px;
}

.icon.story-edit {
	background-position: 0 -896px;
}

.icon.geo-edit {
	background-position: 0 -928px;
}

.icon.edit {
	background-position: 0 -960px;
}

.icon.refresh,
.icon.reload {
	background-position: 0 -992px;
}

.icon.story-popular,
.icon.popular,
.icon.medal-gold {
	background-position: 0 -1024px;
}

.icon.story-discarded,
.icon.discarded,
.icon.trash {
	background-position: 0 -1056px;
}

.icon.story-queueing,
.icon.story-sending {
	background-position: 0 -1088px;
}

.icon.trackback {
	background-position: 0 -1120px;
}

.icon.favicon-technorati {
	background-position: 0 -1152px;
}

.icon.favicon-google {
	background-position: 0 -1184px;
}

.icon.favicon-askjeeves {
	background-position: 0 -1216px;
}

.icon.edit-clock,
.icon.edit-clock-0 {
	background-position: 0 -1248px;
}

.icon.edit-clock-1 {
	background-position: 0 -1280px;
}

.icon.edit-clock-2 {
	background-position: 0 -1312px;
}

.icon.edit-clock-3 {
	background-position: 0 -1344px;
}

.icon.edit-clock-4 {
	background-position: 0 -1376px;
}

.icon.edit-clock-5 {
	background-position: 0 -1408px;
}

.icon.edit-clock-6 {
	background-position: 0 -1440px;
}

.icon.edit-clock-7 {
	background-position: 0 -1472px;
}

.icon.edit-clock-iddqd {
	background-position: 0 -1504px;
}

.icon.play {
	background-position: 0 -1536px;
}

.icon.pause {
	background-position: 0 -1568px;
}

.icon.logout {
	background-position: 0 -1600px;
}

.icon.info-mini {
	background-position: -3px -1634px;
}

.icon.vote-up {
	background-position: -2px -1668px;
}

.icon.vote-down {
	background-position: -2px -1700px;
}

.icon.voted-up {
	background-position: -2px -1732px;
}

.icon.voted-down {
	background-position: -2px -1766px;
}

.icon.bold {
	background-position: 0 -1794px;
}

.icon.italic {
	background-position: 0 -1826px;
}

.icon.mozilla,
.icon.mozilla-firefox,
.icon.firefox {
	background-position: 0 -1858px;
}

.icon.message-sent {
	background-position: 0 -1890px;
}

.icon.error {
	background-position: 0 -1922px;
}

.icon.mglass-mini {
	background-position: 0 -1954px;
}

.icon.favicon-twitter {
	background: url('../../../img/iconos/twitter.ico') 1px center no-repeat;
}

.icon.favicon-facebook {
	background-position: 0 -2018px;
}

.icon.favicon-friendfeed {
	background-position: 0 -2050px;
}

.icon.favicon-bitacoras {
	background-position: 0 -2082px;
}

.icon.favicon-myspace {
	background-position: 0 -2114px;
}

.icon.hourglass,
.icon.hglass,
a .hglass {
	background-position: 0 -2146px;
}

.icon.permalink-mini {
	background-position: -3px -2180px;
}

.icon.comment-reply {
	background-position: 0 -2210px;
}

.icon.arrow-down {
	background-position: 0 -2242px;
}

.icon.sneak-connected {
	background-position: 0 -2274px;
}

.icon.add {
	background-position: 0 -2305px;
}

.icon.strikethrough,
.icon.strikethru,
.icon.strike {
	background-position: 0 -2338px;
}

.icon.edit-mini {
	background-position: 0 -2370px;
	width: 12px;
	height: 11px;
}

.icon.thumb-up {
	background-position: 0 -2466px;
}

.icon.thumb-down {
	background-position: 0 -2498px;
}

.icon.thumb-voted-up {
	background-position: 0 -2402px;
}

.icon.thumb-voted-down {
	background-position: 0 -2434px;
}

.icon.favicon-tuenti {
	background-position: 0 -2530px;
}

.icon.spinner {
	background: url('../img/iconos/spinner.gif');
}

.x-error {
	background: red !important;
}

.icon.sneak-icon {
	background: url('../img/iconos/coti.png');
	width: 24px;
	height: 20px;
}

.icon.sneak-icon.vote-published {
	background-position: 0 -140px;
}

.icon.sneak-icon.vote-queued {
	background-position: 0 -100px;
}

.icon.sneak-icon.comment-new {
	background-position: 0 0;
}

.icon.sneak-icon.comment-edit {
	background-position: 0 -20px;
}

.icon.sneak-icon.story-new {
	background-position: 0 -40px;
}

.icon.sneak-icon.story-published {
	background-position: 0 -120px;
}

.icon.sneak-icon.chat {
	background-position: 0 -180px;
}

.icon.sneak-icon.post-new {
	background-position: 0 -220px;
}

.icon.sneak-icon.geo-edit {
	background-position: 0 -80px;
}

.icon.sneak-icon.story-discarded {
	background-position: 0 -160px;
}

.icon.sneak-icon.vote-negative {
	background-position: 0 -200px;
}

.icon.sneak-icon.poll-new {
	background-position: 0 -240px;
}

.icon.sneak-icon.story-edit {
	background-position: 0 -60px;
}
